*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
/* ----------------------------- HEADER ---------------------------- */
header{
    background-color: orange;
    padding: 0.3rem 0.5rem;
}
header nav{
    flex-basis: 30%;
    height: 3rem;
    background-color: orangered;
}

/* ----------------------------- MAIN ---------------------------- */
main > section{
    padding-top: 3rem;
}
/* intro */
#intro .big-container{
    height: 30rem;
    position: relative;
}

/* plans */
#plans .small-container{
}
#partner{
    height: 20rem;
    background-color: blueviolet;
}

/* partners */
#partners > div{
    background-color:bisque;
}
#partners .squares-container{
    background-color: royalblue;
    height: calc(100vw / 3);
    max-height: 28rem;
    flex-basis: calc(100vw / 3);
    max-width: 28rem;
}
#partners .square{
    border: 1px solid white;
    height: 50%;
    flex-basis: 50%;
}

/* trial */
#trial .small-container{
    height: 15rem;
}

/* faq */
/* #faq .cardFaq{
    height: 15rem;
} */
/* ----------------------------- FOOTER ---------------------------- */
footer{
    background-color: black;
}
footer nav ul{
    background-color: crimson;
    height: 15rem;
    flex-basis: calc(100% / 5 - 1rem);
}
/* ----------------------------- CLASS ---------------------------- */
.divider{
    border: 1px solid white;
    width: 10rem;
    margin: 1rem 0;
}
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}

.container{
    margin: auto;
}
.big-container{
    width: 70%;
    background-color: blue;
}
.small-container{
    width: 55%;
    background-color: maroon;
}

/* header */
.heading-container{
    height: 5rem;
    background-color: aquamarine;
}

/* cards */
.card{
    flex-basis: calc(100% / 3 - 0.5rem);
    margin-bottom:1rem;
}
    /* cardC2a */
.cardC2a{
    background-color: yellow;
    height: 40rem;
}
.cardC2a-big{
    height: 20rem;
    flex-grow: 1;
}

    /* cardInfo */
.cardInfo{
    background-color: yellow;
    height: 20rem;
}

    /* cardFaq */
.cardFaq{
    height: 3rem;
    background-color: tomato;
}
/* ----------------------------- IDS ---------------------------- */
#intro{
    background-color: aqua;
    height: 28rem;
}

#plans{
    background-color: violet;
    margin-top: 5rem;
}
#operations{
    background-color: red;
}
#partners{
    background-color: green;
}
#trial{
    background-color: lime;
}
#faq{
    background-color: cadetblue;
}