*{
    padding: 0;
    margin:0;
    border: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 1.9rem;
    font-weight: 600;
}
a:not(.default-a){
    text-decoration: none;
    color: inherit;
}
img{
    height: 100%;
}

/* buttons */
button{
    padding: 0.5rem 1rem;
    background-color: #0061ff;
    color: white;
    font-size: 0.8rem;
}

/* ----------------------------- HEADER ---------------------------- */
header{
    color: black;
}

header nav{
    padding: 1rem 0;
}
header nav > *{
    display: inline-block;
    margin: 0 0.8rem;
    vertical-align: middle;
}

/* ----------------------------- MAIN ---------------------------- */
main > section{
    padding-top: 3rem;
}
/* intro */
#intro .big-container{
    align-items: flex-start;
}
#intro h1{
    font-size: 3.8rem;
    margin-bottom: 2.8rem;
}
#intro .bottom-c2a{
    flex-basis: 18rem;
}
#intro .bottom-c2a button{
    margin: 1.5rem 0;
}
#intro .bottom-c2a i{
    margin-top: 3rem;
    font-size: 2.5rem;
}
#intro img{
    width: calc(100% - 18rem);
}

/* plans */
#plans .radios-container{
    padding-bottom: 1.5rem;
}
#plans label{
    margin-right: 2rem;
}

    /* cardC2a */
#plans .cardC2a{
    height: 48rem;
}
#plans .cardC2a header,
#plans .cardC2a .cardC2a-main{
    border: 1px solid #0004;
}
#plans .cardC2a > header{
    text-align: center;
    padding: 0.3rem 0;
    border-bottom:0 ;
}
#plans .cardC2a-main{
    padding: 1.2rem;
    height: 100%;
}
#plans .cardC2a-main h2,
#plans .cardC2a-main .price{
    margin-bottom: 0.5rem;
}
#plans .item{
    padding:0.5rem  0;
}
#plans .item i{
    flex-basis: 1rem;
    align-self: flex-start;
    padding: 0.3rem 0.3rem 0.3rem 0rem;
}
#plans .item-text{
    flex-grow: 1;
}
#plans button{
    width: 100%;
}
#plans .cardC2a-big{
    height: auto;
    flex-grow: 1;
    margin-top: 3rem;
}
#plans .cardC2a-big .cardC2a-main{
    align-items: flex-start;
}

footer#partner{
    background-color: blueviolet;
}
footer#partner img{
    height: auto;
}

/* partners */
#partners > div{
    background-color:bisque;
}
#partners .squares-container{
    background-color: royalblue;
    height: calc(100vw / 3);
    max-height: 28rem;
    flex-basis: calc(100vw / 3);
    max-width: 28rem;
}
#partners .square{
    border: 1px solid white;
    height: 50%;
    flex-basis: 50%;
}

/* trial */
#trial .small-container{
    height: 15rem;
}

/* faq */
/* #faq .cardFaq{
    height: 15rem;
} */
/* ----------------------------- FOOTER ---------------------------- */
body > footer{
    background-color: black;
    color: white;
}
footer nav ul{
    background-color: crimson;
    height: 15rem;
    flex-basis: calc(100% / 5 - 1rem);
}
/* ----------------------------- CLASS ---------------------------- */
.divider{
    border: 1px solid;
    width: 20%;
}

/* margin */
.marginT2{
    margin-top:2rem;
}
.marginB2{
    margin-bottom:2rem;
}
.paddingT4{
    padding-top:4rem;
}
.paddingB4{
    padding-bottom:4rem;
}
/* flex */
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.left{
    flex-basis: 50%;
    flex-grow: 1;
    text-align: start;
}
.right{
    text-align: end;
}

/* container */
.center{
    margin: auto;
}
.big-container{
    width: 65%;
}
.small-container{
    width: 55%;
}
/* fonts*/
    /* < 1rem */
.small-font08{
    font-size: 0.8rem;
}
    /* colors */
.gray-text{
    color:#0005;
}
.royal-blue{
    color: #0061ff;
}

/* header */
.heading-container{
    padding-bottom: 2.5rem;
}

/* cards */
.card{
    flex-basis: calc(100% / 3 - 1.5rem);
    margin-bottom:1rem;
}

    /* cardInfo */
.cardInfo{
    background-color: yellow;
    height: 20rem;
}

    /* cardFaq */
.cardFaq{
    height: 3rem;
    background-color: tomato;
}
/* ----------------------------- IDS ---------------------------- */
#intro{
    background-color: #b4d0e7;
    height: 70vh;
}

#plans{
    background-color: violet;
    margin-top: 5rem;
}
#operations{
    background-color: red;
}
#partners{
    background-color: green;
}
#trial{
    background-color: lime;
}
#faq{
    background-color: cadetblue;
}