*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
/* ----------------------------- HEADER ---------------------------- */
header{
    background-color: orange;
    padding: 0.3rem 0.5rem;
}
header nav{
    flex-basis: 30%;
    height: 3rem;
    background-color: orangered;
}

/* ----------------------------- MAIN ---------------------------- */
main section{
    padding-top: 3rem;
}
/* intro */
#intro .big-container{
    background-color: blue;
    height: 30rem;
    position: relative;
}

/* plans */
#plans .small-container{
    background-color: maroon;
}
#partner{
    height: 20rem;
    background-color: blueviolet;
}
/* ----------------------------- FOOTER ---------------------------- */

/* ----------------------------- CLASS ---------------------------- */
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}

.container{
    margin: auto;
}
.big-container{
    width: 80%;
}
.small-container{
    width: 65%;
}

/* header */
.heading-container{
    height: 5rem;
    background-color: aquamarine;
}

/* cards */
.card{
    flex-basis: calc(100% / 3 - 1rem);
    margin-bottom:1.5rem;
}
    /* cardC2a */
.cardC2a{
    background-color: yellow;
    height: 40rem;
}
.cardC2a-big{
    height: 20rem;
    flex-grow: 1;
}

    /* cardInfo */
.cardInfo{
    background-color: yellow;
    height: 20rem;
}

/* ----------------------------- IDS ---------------------------- */
#intro{
    background-color: aqua;
    height: 28rem;
}

#plans{
    background-color: violet;
    margin-top: 5rem;
}
#operations{
    background-color: red;
}